/* base.css */
/* header */
#main-header-div {
    display: flex;
    justify-content: space-between;
}

#website-header {
    display: flex;
    margin-left: auto;
    padding-left: 107px;
}

#logo {
    display: flex;
    margin-left: auto;
    width: 100px; /* Fills the parent container */
    height: auto; /* Maintains aspect ratio */
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
