@import url("base.css");

/* homepage css */

#projectsh2, #skillsh2, #experienceh2, #contacth2{
    background-color: skyblue;
    padding-left: 1vh;
    padding: 10px;
    color: black;
    text-align: center;
}

a{
    text-decoration: none;
}

/* project animations */
#contact-div , #java-div, #pokedex-div {
    transition: all 0.3s ease-in-out; /* Smooth transition for both hover in and out */
    margin: 13px;
    padding: 5px;
    color: black;

    border-radius: 10px;
    box-shadow: 0 0 4px 4px black;
}

#contact-div:hover, #java-div:hover, #pokedex-div:hover {
    box-shadow: 0 0 3px 2px skyblue;
    border: 2px solid skyblue;
    border-style: 10px solid;
    border-color: skyblue;
    margin: 10px;
    padding: 5px;

    transform: scale(1.01); /* Makes the div grow by 1% */
    border-radius: 10px; /* Optional: Add a slight rounding effect */
    cursor: pointer;
}
/* project animations */



header, section{
    padding: 20px;
    margin: 10px;
}


.skills, .contact-info{
    padding-left: 4vh;
    font-size: 20px;
}

.skills li, .contact-info li, .projects li, .experience li{
    margin: 5px 0;
    list-style-type: circle;
}

#about{
    text-align: center;
}

body{
    font-size: 18px;
}