@import url("base.css");

/* 
|<- Margin ->| [Border [Padding [Content]]] |<- Margin ->|
*/

#title, #enter-id, #error-div {
    text-align: center;
    padding-bottom: 5px;
}

#title{
    font-size: 45px;
    color: lightskyblue;
    text-shadow: 2px 2px gray;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



/* form, button & image styling */
#pokemon-id-form {
    border-radius: 5px;
    border: 2px solid grey;
}
#pokemon-id-button {
    border-radius: 5px;
    border: 2px solid grey;
}
#pokemon-picture{
    width: 250px;
}