/* Header css */
#main-header-div{
    display: flex;
    justify-content: space-between;

}
#website-header{
    display: flex;
    margin-left: auto;
    padding-left: 107px;
}
#logo {
    display: flex;
    margin-left: auto;

    width: 100px; /* Fills the parent container */
    height: auto; /* Maintains aspect ratio */
}
/* Header css */

/* 
|<- Margin ->| [Border [Padding [Content]]] |<- Margin ->|
*/


body {
    background-color: whitesmoke;
}

#title, #enter-id, #error-div {
    text-align: center;
    padding-bottom: 5px;
}

#title{
    font-size: 45px;
    color: lightskyblue;
    text-shadow: 2px 2px gray;

}

#pokemon-data {
    font-size: 30px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
}



/* form, button & image styling */
#pokemon-id-form {
    border-radius: 5px;
    border: 2px solid grey;
}
#pokemon-id-button {
    border-radius: 5px;
    border: 2px solid grey;
}
#pokemon-picture{
    width: 250px;
}