<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Luke's Website{% endblock %}</title>
    {% block link %}{% endblock %}
</head>

<body>

    <div class="header">

        <a href="https://www.lukecbutler.com" class="home">Home</a>
        
        <div class="header-right-one">
          <a href="https://www.lukecbutler.com/contact/home">Contact Book</a>
        </div>

        <div class="header-right-two">
          <a href="https://www.lukecbutler.com/java_project">Java Inventory System</a>
        </div>

        <div class="header-right-three">
          <a href="https://www.lukecbutler.com/pokedex">Pokedex</a>
        </div> 

    </div>
    {% block body %}{% endblock %}
</body>
</html>