<!-- homepage html -->

{% extends "abase.html" %}
{% block title %}{% endblock %}
{% block link %}
<link rel = "stylesheet" href = "{{url_for('static', filename = 'css/homepage.css')}}">
{% endblock %}

{% block body %}


<section class="about">
    <h2>About Me</h2>
    <p>Hi! I'm a graduate student at UNCW, always up for learning something new, diving into a good challenge, and drinking way too much coffee along the way! </p>
    <p>Aspiring web and software developer dedicated to creating websites and applications for small to medium-sized businesses.</p>
</section>


{% endblock %}