{% extends "abase.html" %}

{% block title %}Pokédex{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block body %}
<div class="container">

    <!-- Pokémon Card -->
    {% if pokemon %}
    <div class="card-container">
        <div class="pokemon-card card">
            <div class="card-header text-center">
                {{ species }}
            </div>
            <img
                style="height: auto; width: 45vh;"
                src="{{ url_for('static', filename='images/pokemon/' + picture_id + '.png') }}" 
                alt="Pokémon Image"
                class="card-img-top mx-auto d-block">
            <div class="card-body">
                <ul class="pokemon-details">
                    <li><strong>Pokémon ID:</strong> {{ id }}</li>
                    <li><strong>Type:</strong> {{ type1 }}{% if type2 %}, {{ type2 }}{% endif %}</li>
                    <li><strong>Height:</strong> {{ feet }}' {{ inches }}"</li>
                    <li><strong>Weight:</strong> {{ weight }} lbs</li>
                    <li><strong>Entry:</strong> {{ entry }}</li>
                </ul>
            </div>
            <div class="card-footer">
                #{{ id }} in the Pokédex
            </div>
        </div>
    </div>


    {% elif error %}
    <!-- Error Message -->
    <div class="alert alert-danger text-center">
        {{ error }}
    </div>
    {% endif %}

    <!-- Input Form -->
    <div class="form-container text-center">
        <form action="/projects/pokedex" method="POST" class="mx-auto">
            <div class="mb-3">
                <label for="pokemon-id-form" class="form-label">Enter Pokémon ID:</label>
                <input 
                    type="text" 
                    name="pokemon-id" 
                    id="pokemon-id-form" 
                    class="form-control" 
                    placeholder="e.g., enter '25' for Pikachu" 
                    required>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-4">Get Your Pokémon!</button>
        </form>
    </div>
</div>
{% endblock %}
